<%- include('../partials/header') %>

    <h1>locations!!!! here and monster list test below</h1>
    <h2><%=  %></h2>
    <ul>
        <% monsters.forEach(monster => { %>
            <li>
                <%= monster.name %>
            </li>
        <% }) %>
    </ul>

<%- include('../partials/footer') %>
