<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Dungeon Buddy</title>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
      <a href="/users">PROFILE</a>
    <% } else { %>
      <a href="/auth/google">LOG IN</a>
    <% } %>
  </nav>
  <main>

