<%- include('./partials/header') %>
	<% if (!user) { %>
		<a href="/auth/google" class="login-prompt">Please Log In Through GoOgle To Continue</a>
	<% } else { %>
		<a href="/users"  class="login-prompt">Are you ready to start your adventure, <%= user.name %>?</a>
	<% } %>
<%- include('./partials/footer') %>