@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body {
    background-color: #202524;
    position: sticky;
    background-image: url("/images/hero-image.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background-size: cover;
}

main {
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    padding: 5vh 15vw 5vh 15vw;
}

header {
    justify-content: center;
    background-color: #202524;
}

.nav-nav, .login-prompt {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 10% 1rem 10%;
}

.nav-links a, .nav-name {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 4rem;
    list-style: none;
}

.nav-name {
    font-size: 2rem;
    padding-left: 8rem;
}

.nav-logo {
    height: 6rem;
    width: auto;
    display: inline-block;
}

.nav-links li {
    display: inline-block;
}

.nav-links a:hover, .nav-name:hover{
    color: #c32727;
}

.error {
    color: #9E0707;
    font-size: 14px;
}

.login-prompt {
    transition: all 0.3s ease 0s;
    margin-top: 20vh;
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: #202524;
    padding: 2rem;
    border-radius: 2rem;
    text-decoration: none;
}

.login-prompt:hover {
    color: #c32727;
    font-size: 2.2rem;
    padding: 2.2rem;
}

.top-level {
    position: relative;
    max-width: 60vw;
    margin-bottom: 1rem;
    padding: 2rem;
    background-color: #202524;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.mid-level {
    padding: 2rem;
    background-color: #202524;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.top-level h3 {
    margin-top: 1rem;
}

.top-level button {
    margin-top: 1rem;
}

.checkbox {
    accent-color: #9E0707;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.modal-content {
    color: white;
    background-color: #202524;
    position: absolute;
    top: 30vh;
}

.create-view {
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 2rem;
    color: white;
    background-color: #202524;
}

.card-list {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex-wrap: wrap;
    width: 22vw;
    margin: 0.5rem;
    background-color: #202524;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}

.card-image {
    transition: all 0.3s ease 0s;
    opacity: 0.7;
    max-width: 100%;
}

.card-image:hover {
    opacity: 1;
}

.card-title {
    font-family: 'Cinzel Decorative', serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.card-title:hover {
    color: #c32727;
}

.title {
    display: inline-block;
    font-family: 'Cinzel Decorative', serif;
    color: white;
}

.back {
    background-color: #202524;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 2rem;
    top: -3rem;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    font-family: 'Cinzel Decorative', serif;
    color: white;
}

.back:hover {
    color: #c32727;
}

.back img {
    height: 3rem;
}

.main-image {
    margin-top: 1rem;
}

.accordion {
    background-color: #202524;
    padding: 2rem;
    border-radius: 1rem;
}

.accordion-header {
    position: relative;
}

button.accordion-button {
    display: inline-block;
    background-color: white;
    color: black;
}

.accordion-item {
    width: 30vw;
}

.remove {
    transition: all 0.3s ease 0s;
    position: absolute;
    font-family: 'Cinzel Decorative', serif;
    font-size: 1rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border: none;
    border-radius: 50%;
    background-color: #9E0707;
    top: 0.5rem;
    right: 1rem;
    z-index: 98;
}

.remove:hover {
    color: black;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #c32727;
}

.btn {
    border: none;
    transition: all 0.3s ease 0s;
    font-family: 'Cinzel Decorative', serif;
}

.btn:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-danger {
    background-color: #9E0707;
    border-color: #9E0707;
}

.btn-danger:hover {
    background-color: #c32727;
}
